<div class="card">
    <div class="card-body">
        <h5>Consulta de produtos</h5>
        <p>Listagem de produtos cadastrados.</p>
        <hr />

        <div class="table table-responsive">
            <table class="table table-sm table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nome do produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Descrição</th>
                        <th>Fornecedor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of produtos">
                        <td>{{p.nome}}</td>
                        <td>{{p.preco}}</td>
                        <td>{{p.quantidade}}</td>
                        <td>{{p.descricao}}</td>
                        <td>{{p.fornecedor.nome}}</td>
                        <td>{{p.categoria.nome}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            Quantidade de produtos: {{produtos.length}}
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>