<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h2>Criação de usuário</h2>
                    <p>Entre com seus dados para criar uma conta.</p>
                </div>

                <form action="">
                    <div class="mb-3">
                        <label for="">Nome do usuário:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="">E-mail de acesso:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="">Senha de acesso:</label>
                        <input type="password" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="">Confirme sua senha:</label>
                        <input type="password" class="form-control">
                    </div>

                    <div class="mb-3 d-grid">
                        <button class="btn btn-primary btn-sm">
                            Realizar cadastro
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>