<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h2>Autenticação do usuário</h2>
                    <p>Entre com suas credenciais de acesso.</p>
                </div>

                <div class="text-danger text-center mt-2 mb-2">
                    <strong>{{mensagem}}</strong>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="">E-mail de acesso:</label>
                        <input type="text" class="form-control" formControlName="email">
                        <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
                            <div *ngIf="f['email'].errors['required']">
                                Por favor, informe o seu e-mail de acesso.
                            </div>
                            <div *ngIf="f['email'].errors['email']">
                                Por favor, informe um endereço de e-mail válido.
                            </div>       
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="">Senha de acesso:</label>
                        <input type="password" class="form-control" formControlName="senha">
                        <div class="text-danger" *ngIf="f['senha'].touched && f['senha'].invalid">
                            <div *ngIf="f['senha'].errors['required']">
                                Por favor, informe a sua senha de acesso.
                            </div>
                            <div *ngIf="f['senha'].errors['pattern']">
                                Por favor, informe uma senha de acesso válida.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 d-grid">
                        <button class="btn btn-primary btn-sm" [disabled]="form.invalid">
                            Acessar Sistema
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
