img {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.image-container {
  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  height: 100vh;
  /* Ocupa toda a altura da tela */
}